GOOGLE_CREDENTIALS_PATH=credentials.json
GOOGLE_MAPS_API_KEY=AIzaSyAadRdZA09ux8AcAjQUktChZLjQK1QWK9M
GOOGLE_SHEET_ID=1y4cL7bWCwhZNKtLow0iukMXkhYok0vNdFo8U3ptre74
GOOGLE_CALENDAR_ID=primary
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=+1XXXXXXXXXX
USER_PHONE=+19087459206
USER_EMAIL=agshruti2901@gmail.com
USER_NAME=Shruti Agarwal
